.content {
  background-image: linear-gradient(  to right, 
  rgb(143, 31, 31), 
  rgb(255, 163, 24), 
  rgb(0, 255, 42), 
  rgb(36, 171, 212));
}
.hi {
  text-align: center;
  font-size: 3rem;
}
h3 {
  font-size: 1.5rem;
  padding-top: 0px
}
.drink-me {
  padding-left: 110px
}

.directory-items {
  background-color: rgba(66, 190, 186, 0.16);
  border: 1px solid cornflowerblue;
  box-shadow: 1px 1px;
  border-radius: 5%;
}
.directory-items2 {
  margin-top: 10px;
  background-color: rgba(199, 171, 128, 0.16);
  border: 1px solid cornflowerblue;
  box-shadow: 1px 1px;
  border-radius: 5%;
}

.titles {

  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-right: 10%;
  padding-top: 5%;
}

.welcome, .intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  margin-top: 40px;
  text-align: center;
  font-size: 2rem;
}
